/* Root colors. This is where all other colors will be selected */
:root {
    /* Chat Header Formatting*/
    --chat_header_background: #949494;
    --chat_header_text: #000000;

    /* User message colors */
    --user_message_text: #FFFFFF;
    --user_message_background: #000000;

    /* AI message colors */
    --ai_message_text: #000000;
    --ai_message_background: #FFFFFF;

    /* Chat window colors */
    --chat_background_color: #949494;

    /* Chat footer formatting */
    --chat_footer_background: #949494;

    /* Chat Text Box Formatting */
    --chat_textbox_background: #949494;
    --chat_textbox_text: #FFFFFF;

    /* Chat Text Box Formatting while focused */
    --chat_textbox_focus_background: #949494;
    --chat_textbox_focus_text: #FFFFFF;

    /* Chat dropdown menu formatting */
    --chat_dropdown_background: #949494;
    --chat_dropdown_text: #FFFFFF;

    /* submit button styling */
    --submit_button_background: #949494;
    --submit_button_text: #FFFFFF;
    --submit_button_border: #949494;

    /* submit button while being hovered styling */
    --submit_button_hover_background: #FFFFFF;
    --submit_button_hover_text: #949494;
    --submit_button_hover_border: #FFFFFF;
}

/* Header Formatting */
.chat_header {
    background-color: var(--chat_header_background);
    color: var(--chat_header_text);
}

/* User message styling and formatting */
.user_chat_message {
    color: var(--user_message_text);
    background-color: var(--user_message_background);
    width: fit-content;
    max-width: 65%;
}

/* AI message styling and formatting */
.ai_chat_message {
    color: var(--ai_message_text);
    background-color: var(--ai_message_background);
    width: fit-content;
    max-width: 65%;
}

/* Chat container styling and formatting */
.chat_container {
    background-color: var(--chat_background_color);
}

/* Chat footer formatting */
.chat_footer {
    background-color: var(--chat_footer_background);
}

/* Message Text Box Formatting */
.chat_textbox {
    background-color: var(--chat_textbox_background);
    color: var(--chat_textbox_text);
}

/* Message Text Box while being typed in formatting */
.chat_textbox:focus {
    background-color: var(--chat_textbox_focus_background);
    color: var(--chat_textbox_focus_text);
    outline: none;
    box-shadow: none;      
    -webkit-box-shadow: none;
}

/* Model Dropdown Styling */
.chat_model_dropdown {
    width: auto;
    background-color: var(--chat_dropdown_background);
    color: var(--chat_dropdown_text);
}

/* submit button styling */
.message_send_button {
    background-color: var(--submit_button_background);
    color: var(--submit_button_text);
    border-color: var(--submit_button_border);
}

/* Submit button while being hovered */
.message_send_button:hover {
    background-color: var(--submit_button_hover_background);
    color: var(--submit_button_hover_text);
    border-color: var(--submit_button_hover_border)
}