/* Root colors. This is where all other colors will be selected */
:root {
    /* Chat Header Formatting*/
    --chat_header_background: #949494;
    --chat_header_text: #FFFFFF;

    /* User message colors */
    --user_message_text: #FFFFFF;
    --user_message_background: #000000;

    /* AI message colors */
    --ai_message_text: #000000;
    --ai_message_background: #FFFFFF;

    /* Chat window colors */
    --chat_background_color: #949494;
}

/* Header Formatting */
.chat_header {
    background-color: var(--chat_header_background);
    color: var(--chat_header_text);
}

/* User message styling and formatting */
.user_chat_message {
    color: var(--user_message_text);
    background-color: var(--user_message_background);
    width: fit-content;
    max-width: 65%;
}

/* AI message styling and formatting */
.ai_chat_message {
    color: var(--ai_message_text);
    background-color: var(--ai_message_background);
    width: fit-content;
    max-width: 65%;
}

/* Chat container styling and formatting */
.chat_container {
    background-color: var(--chat_background_color);
}