/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Background styling */
body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

/* Container styling */
.container {
    text-align: center; /* Center content horizontally */
    position: relative; /* Positioning context for h1 */
}

/* Form styling */
form {
    background: var(--secondary-color); /* Semi-transparent background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin: 0 auto; /* Center form horizontally */
    position: relative; /* Position form relative to container */
}

/* Heading styling */
h1 {
    position: absolute; /* Position heading absolutely within container */
    top: -50px; /* Adjust to position heading 50px above the form */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset the element by half its width */
    margin: 0; /* Reset any default margin */
    padding: 0; /* Reset any default padding */
    color: #000;
}

/* Label and input styling */
label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color)
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); /* Full width with padding adjustment */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: var(--secondary-color);
}

/* Button styling */
button {
    background-color: var(--text-color); /* Blue color */
    color: var(--secondary-color);
    border: 5px;
    border-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    width: 250px;
}

button:hover {
    color: var(--text-color);
    background-color: var(--secondary-color); /* Darker blue on hover */
    border-color: var(--text-color);
    border-style: solid;
    border-width: 1px;
}

/* Anchor styling for the register link */
#register {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: var(--text-color); /* Blue color */
    color: var(--secondary-color);
    padding: 10px 20px;
    border: 5px solid var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    width: 250px;
    border-width: 1px;
}

#register:hover {
    color: var(--text-color);
    background-color: var(--secondary-color); /* Darker blue on hover */
    border-color: var(--text-color);
    border-style: solid;
    border-width: 1px;
}

#registerForm {
    background: var(--secondary-color); /* Semi-transparent background */
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin: 0 auto; /* Center form horizontally */
    position: relative; /* Position form relative to container */
}