/* General styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Form container */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust as needed */
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Center align the title */
h1 {
    text-align: center;
    margin-bottom: 40px; /* Space below the title */
}

input {
    width: calc(100% - 10px); /* Ensures input does not touch the right side */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color); /* Adjust as needed */
    color: var(--text-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #000; /* Use your defined color */
    color: #fff;
}
