.image-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.image-container img {
    max-width: 50px; /* Small size for the logo */
    height: auto;
    display: block;
    margin: 0;
}

/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 20px; /* Add padding to avoid touching the top of the page */
}

/* Container Styles */
form {
    background-color: var(--primary-color);
    padding: 20px; /* Reduced padding for a more compact form */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Reduced gap for elements to be closer together */
}

/* Heading Styles */
form h1 {
    color: var(--text-color);
    margin-top: 0; /* Remove top margin to align with form padding */
    margin-bottom: 15px; /* Adjusted bottom margin for spacing */
    text-align: center;
}

/* Label Styles */
label {
    font-size: 1em; /* Adjusted font size to fit better with compact design */
    color: var(--text-color);
}

/* Input Styles */
input[type="email"],
input[type="password"],
input[type="file"],
select {
    padding: 8px; /* Reduced padding for a tighter fit */
    font-size: 0.9em; /* Adjusted font size to fit better with compact design */
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
    box-sizing: border-box;
}

/* Button Styles */
button {
    padding: 12px; /* Reduced padding for a tighter fit */
    font-size: 1em; /* Adjusted font size to fit better with compact design */
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

/* Message Styles */
p {
    color: var(--text-color);
    text-align: center;
    margin-top: 15px; /* Adjusted margin for spacing */
}