body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

h1 {
    margin: 20px 0;
    color: var(--primary-color);
    font-size: 2.5em;
}

a {
    display: inline-block;
    padding: 20px 50px;
    margin: 15px 0; /* Added margin for spacing between buttons */
    font-size: 1.5em;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    margin-top: 20px;
}

.image-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.image-container img {
    max-width: 50px; /* Small size for the logo */
    height: auto;
    display: block;
    margin: 0;
}

