body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

h1 {
    margin: 20px 0;
}

.image-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.image-container img {
    max-width: 50px; /* Small size for the logo */
    height: auto;
    display: block;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 40px 200px; /* Increased padding for width */
    font-size: 2.2em; /* Increased font size */
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.admin-button {
    display: block;
    width: fit-content;
    padding: 20px 60px; /* Increased padding for width */
    font-size: 1.5em; /* Increased font size */
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.admin-button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}