/* search_style.css */

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: var(--primary-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%; /* Adjust width as needed */
    max-width: 600px; /* Adjust maximum width as needed */
}

h1 {
    margin-bottom: 20px;
    color: var(--text-color);
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.search-form label {
    font-size: 1.2em;
    color: var(--text-color);
}

.search-form input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
    max-width: 300px;
}

.submit-button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.image-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.image-container img {
    max-width: 50px; /* Small size for the logo */
    height: auto;
    display: block;
    margin: 0;
}