body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color); /* Background of the website */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
    overflow: auto; /* Ensure body scrolls if content exceeds viewport height */
}

.container {
    background-color: var(--primary-color); /* Background of the container */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    box-sizing: border-box;
    margin-top: 80px; /* Adjust top margin if needed to add space from the top */
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.response {
    display: none; /* Hide it initially without taking up space */
    opacity: 0;
    transform: translateY(-20px); /* Start with a slight upward offset */
    padding: 10px;
    background-color: var(--secondary-color);
    border: 1px solid var(--text-color); /* Add black outline to dropdown */
    border-radius: 5px;
    margin-top: 0; /* Remove margin between menu item and response */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth slide effect */
}

.response.show {
    display: block; /* Show it when active */
    opacity: 1; /* Fade to full opacity */
    transform: translateY(0); /* Slide to original position */
}

.response.hide {
    opacity: 0; /* Fade to 0 opacity */
    transform: translateY(-20px); /* Slide up to original position */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth slide effect */
}

.menu-item {
    cursor: pointer;
    padding: 15px;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    margin-bottom: 0; /* Remove margin to make it look attached */
    color: var(--text-color);
    text-align: left;
    position: relative; /* Position relative to attach dropdown */
    transition: background-color 0.3s;
    padding-right: 30px; /* Add padding to ensure space for the arrow */
}

.menu-item:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.menu-item.active:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.menu-item.active {
    background-color: var(--secondary-color); /* Button color when dropdown is active */
    color: var(--text-color);
}

.menu-item:after {
    content: '▼'; /* Indicator for dropdown */
    position: absolute;
    right: 10px; /* Position it to the far right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.menu-item.open:after {
    content: '▲'; /* Indicator for dropdown open */
    transform: rotate(180deg);
}

h1 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px; /* Adjust margin as needed */
}

:root {
    --primary-color: {{ primary_color | default('#007bff') }};
    --secondary-color: {{ secondary_color | default('#f8f9fa') }};
    --text-color: {{ text_color | default('#212529') }};
}

.image-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.image-container img {
    max-width: 50px; /* Small size for the logo */
    height: auto;
    display: block;
    margin: 0;
}