<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='org.ico')}}">
    <style>
        :root {
            --primary-color: {{ primary_color }};
            --secondary-color: {{ secondary_color }};
            --text-color: {{ text_color }};
            --org-logo: {{ org_logo }}
        }
    </style>
    <title>Administrator</title>
</head>
<body>
    <h1 id="title">Administrator Panel</h1>

    <div class="image-container">
        <img src="{{ org_logo }}">
    </div>

    <div class="button-container">
        <a href="{{ url_for('search') }}">Search Database</a>
        {% if is_zone %}
            <a href="{{ url_for('styling') }}">Customize Organization</a>
            <a href="{{ url_for('add_users') }}">Add Users</a>
        {% endif %}
    </div>
</body>
</html>