<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ai_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='org.ico') }}">
    <style>
        :root {
            --primary-color: {{ primary_color }};
            --secondary-color: {{ secondary_color }};
            --text-color: {{ text_color }};
            --org-logo: {{ org_logo }};
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
</head>
<body>
    <div class="top-bar">
        <div class="logo-label-container">
            <div class="image-container">
                <img src="{{ url_for('static', filename='org.ico') }}" alt="Organization Logo">
            </div>
        </div>
        <a href="{{ url_for('ai') }}" class="label no-link-style">{{ org_name }}</a>
        <div class="hamburger-menu">
            <span>&#9776;</span> <!-- Hamburger icon -->
        </div>
    </div>

    <div class="dropdown-menu" id="dropdown-menu">
        <ul>
            <li><a href="{{ url_for('ai') }}">AI Dashboard</a></li>
            {% if is_admin %}
                <li><a href="{{ url_for('search') }}">Search Database</a></li>
            {% endif %}
            {% if is_zone %}
                <li><a href="{{ url_for('styling') }}">Organization Styling</a></li>
                <li><a href="{{ url_for('add_users') }}">Add Users</a></li>
            {% endif %}
        </ul>
    </div>
    
    <div class="chat-container" id="chat-container">
        <div class="messages", id="messages-container":>
            {% for search in searches %}
            <div class="message">
                <div class="user-message">
                    <p>{{ search[4] }}</p> <!-- User question -->
                </div>
                <div class="ai-message formatted-text">
                    {% if search[7] == 'image' %}
                        <p><img src="{{ url_for('static', filename='imgcache/' ~ search[5]) }}" alt="AI Image" class="resized-image"/></p>
                    {% else %}
                        <p>{{ search[5]|safe }}</p> <!-- AI response with safe filter -->
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="chat-box">
        <form id="chat-form" method="POST">
            <div class="input-group">
                <textarea name="user_prompt" id="user_prompt" rows="1" placeholder="Type your message here..." required></textarea>
                <div class="chat-model">
                    <button type="button" id="model-button" class="model-button">Chat-GPT 4O</button>
                    <div class="chat-model-options">
                        <button type="button" class="dropdown-option" data-value="chatgpt" aria-selected="true">Chat-GPT 4O</button>
                        <button type="button" class="dropdown-option" data-value="imagegen">Image Generation</button>
                    </div>
                    <input type="hidden" name="model_option" id="model_option" value=>
                </div>
                <button type="submit">Send</button>
            </div>
        </form>
    </div>

    <!-- Backdrop Element -->
    <div id="backdrop" class="backdrop"></div>

    <!-- Popup Element -->
    <div id="popup" class="popup">Prompting AI...</div>
    
    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='ai_script.js') }}"></script>
</body>
</html>
