<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login_style.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Login</title>
    <script>
        function redirectToLogin() {
            setTimeout(function() {
                window.location.href = "/login";
            }, 3000); // 3000 milliseconds = 3 seconds
        }
    </script>
    <style>
        :root {
            --primary-color: {{ primary_color }};
            --secondary-color: {{ secondary_color }};
            --text-color: {{ text_color }};
            --org-logo: {{ org_logo }};
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <br>
    <form method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>