<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='register_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='org.ico') }}">
    <title>Register</title>
</head>
<body>
    <div class="content-wrapper">
        <h1>Register</h1>
        <div class="container">
            <a href="{{ url_for('new_individual') }}" id="reg_ind" class="square-link">Individual</a>
            <a href="{{ url_for('new_organization') }}" id="new_org" class="square-link">Organization</a>
        </div>
    </div>
</body>
</html>
