<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TunedGPT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    </head>
    <body class="d-flex flex-column vh-100">
        <!-- Header -->
        <div class="p-3 row chat_header">
            <div class="col-10">
                <h2 class="m-0">TunedGPT</h2>
            </div>
            <div class="col-1">
                <a class="btn btn-primary" href="{{ url_for(logout.logout)} }">Settings</a>
            </div>
            <div class="col-1">
                <a class="btn btn-primary" href="#">Logout</a>
            </div>
        </div>

        <!-- Chat window -->
        <div class="chat_container d-flex flex-grow-1 flex-column overflow-auto p-3">
            {% for msg in chat_history %}
                <!-- User message -->
                <div class="align-self-end user_chat_message p-2 rounded mb-2">
                    {{ msg.user_message }}
                </div>

                <!-- AI response -->
                <div class="align-self-start ai_chat_message p-2 rounded mb-2">
                    {{ msg.response }}
                </div>
            {% endfor %}
        </div>

        <!-- Input + button -->
        <div class="p-3 d-flex chat_footer">
            <form method="post" class="w-100">
                <div class="row">
                    <div class="col-9">
                        <input type="text" name="message" class="form-control me-2 chat_textbox" placeholder="Type a message...">
                    </div>
                    <div class="col-2">
                        <select id="mode-select" name="mode-select" class="form-select me-2 chat_model_dropdown">
                            <option value="chatgpt-5-mini" selected>ChatGPT-5 Mini</option>
                            <option value="chatgpt-5">ChatGPT-5</option>
                            <option value="imagegen">Image Generation</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-primary message_send_button" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

        <!-- Custom One-Off JS -->
        <script>
            const chatContainer = document.getElementById("chat-container");
            if (chatContainer) {
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }
        </script>
    </body>
</html>




